body {
  background-color: black;
  background: url('../images/background.jpg');
  background-size: 1440px 800px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  color: white;
  padding: 70px;
}

.navbar {
   background: rgba(10, 15, 20, 0.6);
}

.navbar .navbar-brand {
  color: white;
}

.well {
  background: rgba(10, 15, 20, 0.6);
  border: 0px;
}

img {
  max-width: 100%;
}

#result {
  display: none;
}

#select {
  float:right;
}
